<!DOCTYPE html>
<html>
<head>
    <title>Multiplayer Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        const socket = io();
        console.log('pn1', window.location.pathname.split('game/')[1])

        socket.on('connect', () => {
            // let route = console.log('pn2', window.location.pathname.split('game/')[1]);
            socket.emit('join', { route: window.location.pathname.split('game/')[1] });
            // socket.emit('connect')
        });

        socket.on('message', (data) => {
            document.getElementById('messages').innerHTML += '<br>' + data.data;
            document.getElementById('user-count').innerHTML = 'User count: ' + data.count;
        });

        socket.on('start_game', (data) => {
            console.log('Starting Game')
            document.getElementById('messages').innerHTML += '<br>Game started!';
            console.log(data, window.location.pathname.split('game/')[1])
            // if (window.location.pathname.split('game/')[1] == data['route'])
                window.location.href = `../makeBets/${window.location.pathname.split('game/')[1]}`
        });

        socket.on('chat_message', (data) => {
            document.getElementById('messages').innerHTML += '<br>' + data.user + ': ' + data.data;
        });

        sendMessage = () => {
            var message = document.getElementById('message').value;
            socket.emit('chat_message', {'data': message});
            document.getElementById('message').value = '';
        }
    </script>
</head>
<body>
    <h1>Multiplayer Game</h1>
    <div id="user-count">User count: 0</div>
    <div id="messages"></div>
    <input type="text" id="message" placeholder="Type a message...">
    <button onclick="sendMessage()">Send</button>
</body>
</html>