<div class="card-body">
    <form method="POST" action="/registerPlayer">
        <div class="login-container">
            <label for="email">Please Enter Email</label>
            <input name="email" id="email"/>
            <label for="firstName">Please Enter your First Name</label>
            <input name="firstName" id="firstName"/>
            <label for="lastName">Please Enter your last Name</label>
            <input name="lastName" id="lastName"/>
            <label for="contact">Please Enter mobile contact</label>
            <input name="contact" id="contact"/>
        
            <label for="password">Please Enter The Password</label>
            <input name="password" id="password"/>
            <label for="confirmPassword">Please confirm The Password</label>
            <input name="confirmPassword" id="confirmPassword"/>
        
            <h4>Please Answer the security Questions</h4>
            <label for="answerOne">Name the city you were born in</label>
            <input name="answerOne" id="answerOne"/>
            <label for="answerTwo">Enter name of your High school</label>
            <input name="answerTwo" id="answerTwo"/>
            <label for="answerThree">Enter your mothers first name</label>
            <input name="answerThree" id="answerThree"/>
            <input class="submit-button" type="submit" value="Submit">
        </div>
    </form>
  </div>